@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Movies Index</h1>
	<p>
		This project was created as part of the Udemy 'The Complete ASP.Net MVC 5 Course'. It includes different features of the ASP.Net framework and different technologies as learned in the course. It includes both features that were developed following the course and features developed independently as excercises
	</p>
	<p>
		Since this project is a 'learning project' and not a full working application, it was more important for me to show how to work with the different technologies. Therefore:
		<ul>
			<li>Not all the functionality that you would expect from a video rental store were implemented.</li>
			<li>Different operations are implemented differently. For example: Adding/editing movies is limited to logged in admins only while editing customers is open to everyone</li>
			<li>Since this course wasn't about html/css/bootstrap, I didn't put much work into them. I concentrated on the ASP.Net MVC and related frameworks/libraries only.</li>
		</ul>		
		See the project's repository and readme file for more details: <a href="https://github.com/Sarah-A/training_dot_net/tree/master/Web/AspDotNetCourseApp"> AspDotNetCourseApp Git Repository</a>
	</p>
</div>

