@model List<AspDotNetCourseApp.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row my-3 justify-content-end">
	<a role="button" href=@Url.Action("MovieForm", "Movies") class="btn btn-outline-primary">Add New Movie</a>
</div>

@if (Model.Count == 0)
{
	<text>No Movies in the system!</text>
}
else
{
	<table class="table">
		<caption>Movies</caption>
		<thead>
			<tr>
				<th scope="col">Movie</th>
				<th scope="col">Genre</th>
			</tr>
		</thead>
		<tbody>
		@foreach(var movie in Model)
		{
			<tr>
				<td>
					@Html.ActionLink(movie.Name,
									"Edit",
									"Movies",
									new { id = movie.Id },
									new { @class="list-group-item list-group-item-action border-0"}
					)
				</td>
				<td>
					@movie.Genre.Name
				</td>			
			</tr>
		}
		</tbody>
	</table>
}

