<!--
    NOTE: This is just a sample file for the required AppSecretSettings.config file.
          * After cloning the application for the 1st time: copy this file to AppSecretSettings.config and update all the internal values placeholders 
            to the appropriate actual values.
          * When adding a new secret value to the app - make sure to update and commit the AppSecretSettings.config.sample file with sample (non secret!!!) data.                    
-->

<appSettings>
  <add key="MailServer" value="example.com"/>
  <add key="FacebookAppId" value="12345" />
  <add key="FacebookAppSecret" value="abcdef" />
</appSettings>
