@model ContactViewModel

@{
	ViewBag.Title = "Contact";
}

<div class="m-3">
	<form method="post" class="col-md-6" id="contact-form" >
		<div class="form-group">
			<label asp-for="Name">Your Name:</label>
			<input type="text" asp-for="Name" class="form-control"/>
		</div>
		<div class="form-group">
			<label asp-for="Email">Email:</label>
			<input asp-for="Email" type="email" class="form-control"/>
		</div>
		<div class="form-group">
			<label asp-for="Subject">Subject:</label>
			<input asp-for="Subject" type="text" class="form-control"/>
		</div>
		<div class="form-group">
			<label asp-for="Message">Message:</label>
			<textarea  class="form-control" asp-for="Message" rows="4"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Send</button>
	</form>
</div>