@{
	ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>Dutch Treat - @ViewBag.Title</title>
</head>
<body>
	<h1>Dutch Treat</h1>
	<div>
		<img id="img-main" src="~/img/VanGogh.jpg" />
		<h3>Mug</h3>
		<ul>
			<li>Price: $9.99</li>
			<li>Artist: Van Gogh</li>
		</ul>
		<button id="test-button">Click Me!</button>
	</div>
	<script src="~/node_modules/jquery/dist/jquery.min.js"></script>
	<script src="~/js/index.js"></script>
</body>
</html>