@{
	ViewBag.Title = "Home Page";
}

<div>
	<img id="img-main" src="~/img/VanGogh.jpg" />
	<h3>Mug</h3>
	<ul>
		<li>Price: $9.99</li>
		<li>Artist: Van Gogh</li>
	</ul>
	<button id="test-button">Click Me!</button>
</div>
	