<div class="row">
	<div class="col-md-4 p-2"  *ngFor="let p of products">
		<ul class="list-group mb-2">
			<li class="list-group-item">
				<img src="/img/{{p.artId}}.jpg" alt="{{p.artist}}" class="img-fluid" />
			</li>
			<li class="list-group-item">{{p.title}} - {{p.size}}</li>
			<li class="list-group-item">Artist: {{p.artist}}</li>
			<li class="list-group-item">Price: {{p.price | currency:"USD"}}</li>
			<li class="list-group-item">Description: {{p.artDescription}}</li>
		</ul>
		<button id="buyButton" class="btn btn-success">Buy</button>
	</div>
</div>

